name: 'Build'

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup node
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'

    - name: Versions
      run: npm version

    - name: Cache node modules
      uses: actions/cache@v2
      env:
        cache-name: cache-node-modules
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: ~/.npm
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - name: Truffle compile and test
      run: |
        npm install --quiet --no-progress --loglevel=error --g truffle
        npm install --quiet --no-progress --loglevel=error
        truffle develop &
        truffle test ./test/StakePoolSimpleCombined.test.js
