name: 'Build'

on:
  push:
    branches:
    - main
  pull_request: {}
  workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup node
      uses: actions/setup-node@v2
      with:
        node-version: '14.x'

    - name: Versions
      run: npm version

    - name: Cache node modules
      uses: actions/cache@v2
      id: cache
      with:
        path: '**/node_modules'
        key: npm-v2-${{ hashFiles('**/package-lock.json') }}
        restore-keys: npm-v2-

    - run: npm ci
      if: steps.cache.outputs.cache-hit != 'true'
    - run: npm run test
      env:
        FORCE_COLOR: 1
        ENABLE_GAS_REPORT: false
    - run: npm run coverage
      env:
        NODE_OPTIONS: --max_old_space_size=4096
    - uses: codecov/codecov-action@v2
